.nav_item {
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  display: block;
  position: relative;
}

.nav_item a {
  text-decoration: none;
  color: #fff;
  height: 100%;
  display: block;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-weight: bolder;
  /* border-top: 1px solid; */
  border-bottom: 1px solid;
}

.nav_item a.active::after {
  display: block;
  content: "";
  position: absolute;
  right: 0px;
  top: 1px;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 23px solid transparent;
  border-right: 20px solid #fff;
}
