.event_teams {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
}

.action_cell {
  display: flex !important;
  align-items: center;
  /* justify-content: space-evenly; */
  height: 100%;
}

.delete_button_prev {
  background-color: transparent;
  border: none;
  width: 20px;
  cursor: pointer;
  height: 20px;
  margin-left: 20px;
}

.view_button_rev {
  background-color: transparent;
  border: none;
  width: 20px;
  cursor: pointer;
  height: 20px;
}

.change_button_prev {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  margin-left: 20px;

  cursor: pointer;
}

.change_button_prev:hover {
  color: green;
}

.delete_button_prev:hover {
  color: red;
}

.view_button_rev:hover {
  color: blue;
}

.description_span {
  display: flex !important;
  align-items: center;
  justify-content: space-evenly;
}

.match_of_day_button {
  background-color: transparent;
  border: none;
  width: 20px;
  cursor: pointer;
  height: 20px;
  color: green;
}

.ordinar_game_league_text {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  margin: 0 auto;
}

.ordinar_game_date_text {
  width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
}
